amqp==2.1.4
asana==0.6.7
asn1crypto==0.24.0
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.7.1
billiard==3.5.0.5
bleach==3.1.4
cairocffi==1.0.2
CairoSVG==2.0.3
celery==4.0.2
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
contextlib2==0.5.5
cryptography==1.9
cssselect==1.0.3
cssselect2==0.2.1
cssutils==1.0.2
decorator==4.4.0
diff-match-patch==20121119
distro==1.4.0
Django==1.11.2
django-ipware==1.1.6
django-jinja==2.3.1
django-pglocks==1.0.2
django-picklefield==0.3.2
django-sampledatahelper==0.4.1
django-sites==0.9
django-sr==0.0.4
djmail==1.0.1
docopt==0.6.2
easy-thumbnails==2.4.1
et-xmlfile==1.0.1
fn==0.4.3
fpdf==1.7.2
future==0.17.1
gunicorn==19.7.1
html2pdf==0.1
html5lib==1.0.1
idna==2.5
imgkit==1.0.1
ipython==7.5.0
ipython-genutils==0.2.0
jdcal==1.4.1
jedi==0.13.3
Jinja2==2.9.6
kombu==4.0.2
lxml==3.8.0
Markdown==3.0.dev0
MarkupSafe==1.1.1
netaddr==0.7.19
numpy==1.16.3
oauthlib==3.0.1
olefile==0.46
openpyxl==2.6.2
pandas==0.24.2
parso==0.4.0
pdfkit==0.6.1
pdfrw==0.4
pexpect==4.7.0
pickleshare==0.7.5
Pillow==4.1.1
pkg-resources==0.0.0
premailer==3.0.1
prompt-toolkit==2.0.9
psd-tools==1.4
psycopg2==2.7.4
psycopg2-binary==2.8.2
ptyprocess==0.6.0
pycparser==2.19
pycryptodomex==3.8.1
Pygments==2.2.0
pyjwkest==1.3.2
PyJWT==1.5.0
PyPDF2==1.26.0
Pyphen==0.9.5
python-dateutil==2.6.0
python-magic==0.4.13
pytz==2017.2
raven==6.1.0
redis==2.10.5
reportlab==3.5.21
requests==2.17.3
requests-oauthlib==0.8.0
sampledata==0.3.7
serpy==0.1.1
six==1.10.0
soupsieve==1.9.1
tabula-py==1.3.1
tinycss==0.4
tinycss2==1.0.2
traitlets==4.3.2
Unidecode==0.4.20
UNKNOWN==0.0.0
urllib3==1.21.1
vine==1.3.0
wcwidth==0.1.7
WeasyPrint==47
webcolors==1.7
webencodings==0.5.1
wkhtmltopdf==0.2
xhtml2pdf==0.2.3
xlrd==1.2.0
xlsx2html==0.1.5
XlsxWriter==1.1.8
