{% extends "emails/base-body-html.jinja" %}

{% block body %}
    <p>Hello {{ full_name }}, <br /> you asked to recover your password</p>
    <a class="button" href="{{ url }}" title="Recover your password">Recover your password</a>
    <p>You can ignore this message if you did not request.</p>    
{% endblock %}
