{% trans %}
Thank you for registering in Ashoka MIS

This is test mail

--
{% endtrans %}
{% trans url=resolve_front_url('cancel-account', cancel_token) %}
You may remove your account from this service: {{ url }}
{% endtrans %}
