{% extends "emails/base-body-html.jinja" %}

{% block body %}    
    <h1>You have been added to a project</h1>
    <p>Hello {{ full_name }},<br />you have been added to the project {{ project }}</p>
    <a class="button" href="{{ url }}" title="Go to{{ project }}">Go to project</a>        
{% endblock %}
